/*reset css*/
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Shrikhand&family=Song+Myung&display=swap");

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  box-sizing: content-box;
  list-style: none;
}
*,
:after,
:before {
  box-sizing: border-box;
}
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}
html,
body {
  height: 100%;
  background: rgb(255, 255, 255);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* button {
  background: none;
  border: 0;
  cursor: pointer;
} */
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background-color: transparent;
}

/* ==== scroll style ==== */
/* https://codingbroker.tistory.com/66  클라 여러분 참고하세용~ */

*::-webkit-scrollbar {
  width: 12px;
  border-left: solid 1px #ebebeb;
  border-right: solid 1px #ebebeb;
}

*::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 10px;
  background-color: #ebebeb;
  background-clip: padding-box;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}
